<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introductory Page</title>
    <link rel="stylesheet" href="../styles/MainIntroductoryPageStyle.css">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <script src="../Codes/MainIntroductoryPage.js" defer></script>
</head>
<body>
    <div class="navigation">
        <ul>
            <li id = 'list1'>
                <a href="../views/MainIntroductoryPage.html">
                    <span class="icon"><i class="fa fa-home" aria-hidden="true"></i></span>
                    <span class="title">Home</span>
                </a>
            </li>
            <li>
                <a href="../views/BuildInvoices.html">
                    <span class="icon"><i class="fa fa-info" aria-hidden="true"></i></span>
                    <span class="title">Build Invoice</span>
                </a>
            </li>
            <li>
                <a href="../views/InvoiceTemplate.html">
                    <span class="icon"><i class="fa fa-file" aria-hidden="true"></i></span>
                    <span class="title">Invoice Template</span>
                </a>
            </li>
            <li>
                <a href="../views/Help.html">
                    <span class="icon"><i class="fa fa-question-circle" aria-hidden="true"></i></i></span>
                    <span class="title">Help</span>
                </a>
            </li>
        </ul>
    </div>

    <section class="sign_in">
        <h1 class="intro_title">Diacto Technologies</h1>
        <img src="../styles/Diacto Image.PNG" style="top: 20px; left: 460px; position: absolute;" height="100px" width="120px" alt=""/>
        <h3 style='margin-top: 40px;'>Invoice Template Generator Application</h3>
        <p style="padding: 0 0 40px 0;">This is an application that facilitates automated generation of invoice template which could be further processed to respective individuals.</p>
        <div class="container">
            <div class="signin-form row">
                <div class="formfield">
                    <input type="email" id='testCondition1' />
                    <label for="email" class="label" id="label1">Email</label>
                </div>
                
                <div class="formfield">
                    <input type="password" id='testCondition2' />
                    <label for="password" class="label" id="label2">Password</label>
                </div>

            </div>
        </div>
    </section>
    
</body>
</html>